@layer theme, base, antd, components, utilities;
@import 'tailwindcss';

@theme {
  --font-sans: 'Inter Variable', sans-serif;
}

body {
  font-family: var(--font-sans);
  background: #f9fafc;
}

@keyframes loading-bar {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(300%);
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.compact-table .ant-table-tbody > tr > td {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.compact-table .ant-table-pagination {
  padding: 10px 12px !important;
  margin: 0 !important;
  border-top: 1px solid #f0f0f0;
  display: flex !important;
  align-items: center;
}

.compact-table .ant-table-pagination .ant-pagination-total-text {
  margin-inline-end: auto !important;
}
